/* External CSS */
body {
  background-color: #BBDED6;
}
hr {
  border-color: darkgrey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  /* height: 0px; */
  width: 5%;
}
h1 {
  color: #3f72AF;
}
h2 {
  color: #FCBAD3;
}
h3 {
  color: #FFFFD2;
}
